<!DOCTYPE html>
<html>
<head>
	<title>IDENTIFICACION DE POSTULANTE</title>
</head>
<body>
	<header>IDENTIFICACION DE POSTULANTE USANDO BASE DE DATOS MONGODB CON OPENSHIFT</header>
	<nav>
		<UL>
			<li><form  action="/registrar" method="post"><input type="submit" name="registrar" value="registrar"></form></li>
			<li><form  action="/consultar" method="post"><input type="submit" name="consultar" value="consultar"></form></li>
		</UL>
	</nav>
	<section>
		<p>PAGINA UTILIZADA PARA GUARDARDATOS EN LA NOBE UTILIZANDO OPENSHIFT EN UNA BASE DE DATOS MONGO DB</p>
		<P>PARA LUEGO PODER CONSULTARLAS DESDE CUALQUEIR SITIO</P>
		<P>LO QUE GUARDA SON DATOS DE POSTULANTE</P>
		<P>BAJO LA SIGUIENTE ESTRUCTURA</P>
		<P>DNI</P>
		<P>NOMBRE</P>
		<P>APELLIDO</P>
		<P>FECHA DE NACIMIENTO</P>
		<P>DIRECCION</P>
		<P>TELEFONO</P>
		<P>CORREO</P>
	</section>
</body>
</html>