<!DOCTYPE html>
<html>
<head>
	<title>REGISTRAR ALUMNO</title>
</head>
<body>
	<form action="/registro" method="post">
		<label for="dni">DNI</label>
		<input type="number" name="dni" placeholder="dni" id="dni"><br>
		<label for="nombre">Nombre</label>
		<input type="text" name="nombre" placeholder="nombre" id="nombre"><br>
		<label for="apellido">Apellido</label>
		<input type="text" name="apellido" placeholder="apellido" id="apellido"><br>
		<label for="correo">Correo</label>
		<input type="email" name="correo" placeholder="correo" id="correo"><br>
		<label for="telefono">Telefono</label>
		<input type="text" name="telefono" placeholder="telefono" id="telefono"><br>
		<label for="date-b">Fecha Nacimiento</label>
		<input type="date" name="date-b" placeholder="date-b" id="date-b"><br>
		<input type="submit" name="registrar" value="registrar">
	</form>
</body>
</html>